/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "style/variables";

body {
  margin: 0;
  color: $font-color;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}
